@import "globals/mixins";
@import "globals/colors";
@import "globals/variables";


@import "pages/front-page";
@import "cpts/quizzes";

@import "footer";
@import "header";

body {
    position: relative;
    display: flex;
    flex-direction: column;
    // background-color: rgba($cream, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    overflow: auto; /* Ensure no restriction on body overflow */
    height: 100%;
  }

  figure {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $montserrat;
  }

  a, li, p, label {
    font-family: $merriWeather;
  }

  a { 
    text-decoration: none;
  }

  [aria-current="page"] {
   
}

  ul {
    list-style: none;
}

.content {
    flex: 1;
  }

  $bezier: cubic-bezier(0.64, 0.04, 0.35, 1);
  .to-reveal {
    opacity: 0;
    position: relative;
    top: 20px;
  }
  
  .revealed {
    transition: 0.6s $bezier;
    opacity: 1;
    position: relative;
    top: 0;
  }


  .dark-bg {
    transition: 300ms;
    visibility: hidden;
   }

  .show-dark-bg {
    background-color: rgba($black, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    visibility: visible;
   }